*{
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
}

.container {
    max-width:1140px;
    margin: 0 auto;
}

.wrapper-top{
    
    background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
}

p{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    
}

.top-content{
    min-height: 768px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.index-banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.index-banner-heading {
    font-size: 64px;
    font-weight: 300;
    line-height: 74px;
    letter-spacing: 0.04em;
    width:510px;
    color: #1F3F68;
    margin-bottom: 32px;
}

.index-banner-text{
    
    padding-top: 115px; 
    flex-grow: 1;
    background-image: url(../img/banner.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 44%;
}

.index-banner-text-p{
    line-height: 26px;
    letter-spacing: 0.05em;
    width: 425px;

}

.top-button{
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #ffffff;
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    padding:15px 50px;
    text-decoration: none;
    display:inline-block;
    margin-top:71px;
}


.services-heading {
    font-size: 36px;
    font-weight: 300;
    line-height: 46px;
    letter-spacing: 0.05em;
    text-align: center;
}

.footer-heading{
    font-size: 36px;
    font-weight: 400;
    line-height: 46px;
    letter-spacing: 0.05em;
 
}

.contacts-banner-heading{
    font-size: 44px;
    font-weight: 500;
    line-height: 74px;
    letter-spacing: 0.04em;
    text-align: center;

}

.products{
    padding-top:64px;

}
.product-heading{
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    margin-bottom:14px;
}

.product-link{
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5A98D0;
    text-decoration: none;
}

.contacts-item-heading {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0.04em;

    color: #1F3F68;

    text-transform: uppercase;   
}

.send-us{
    box-shadow: 0 0 10px 5px rgb(221 221 221);
    border-radius: 10px;
    padding: 10px;
}
.send-us-form{
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.04em;

}

.send-us-form-items{
    width: 428px;
    opacity: 0.4;
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    padding:16px;
}

.textarea{
    resize: none;
}

.send-us-form-btn
{
    width: 428px;
    height: 72px;
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    text-transform: uppercase;   
    color:#fff;
}

.footer-btn
{
    width: 236.63px;
    height: 56px;
    background: #5A98D0;
    color:#fff;
}

.nav-bar{
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding-top: 42px;
}
.nav-item{
    padding: 0 10px;
}

.product-box{
    width: 359px;
    box-sizing: border-box;
    padding:44px 32px;
    background: #FFFFFF;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
  
}

.product-img{
    align-self: center;
    margin-bottom: 51px;
}


.products-group{
    display: flex;
    justify-content:space-around;
    padding-top: 64px;
    padding-bottom: 64px;
}

.projects-text{
    width:75%;
    margin: 32px auto 64px;
    color: #222222;
    text-align: center;
    opacity: 1;
}


.project-item{
    position: relative;
    flex-grow: 1;
    
}

.project-item-margin{
    margin-right: 32px;
}

.project-double{
    display:flex;
    justify-content: space-between;
    margin-top: 32px;
    

}

.project-img{
 width:100%;
}

.project-text{
    
    line-height: 46px;
    text-align: right;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    position: absolute;
    z-index: 1;
}

.project-text-top{
    top:64px;
    right:64px;
    font-size: 32px;
}

.project-text-double{
    top:32px;
    font-size: 28px;
    left:32px;
}


.contacts-content{
    display: flex;
    justify-content: space-around;
}

.contacts-item{
    width: 70%;
}

.footer{
    background: #316099;
    color:#ffffff;
    margin-top:120px;
    padding:65px 0;

}

.footer-banner{
    padding-bottom: 95px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.footer-heading {
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    
}

.footer-top-text {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color:#ffffff;
    padding-top: 32px;
    
  
}


.footer-button{
    padding: 15px 80px;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #ffffff;
    background: #5A98D0;
    text-decoration: none;
}


.footer-banner-text{
    width: 495px;
}
.footer-heading{
    width: 340px;
}

.footer-contacts{
    display: flex;
    justify-content: space-between;
    margin-top:64px;
}
.footer-contact{
    list-style: none;
    line-height: 26px;
    letter-spacing: 0.05em;
    margin-right: 32px; 
    flex-grow: 1;
    flex-basis: 33.3333%;
    display: flex;
}

.footer-contact:first-child::before{
    content: 'A.';
    display: block;
    margin-right: 16px;
    

}

.copyright {
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #ffffff;
    margin-top: 64px;
    
}


@media(max-width:1024px){
    .container{
        padding-left: 32px;
        padding-right: 32px;
    }
    .index-banner-text{
        background-position: right 280px;
    }

    .products-group{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 95px;
    }

    .product-box{
        margin-bottom: 32px;
    }

    .project-text-double{
        top:20px;
        left:20px;
    }
    

@media(max-width:667px){
    .nav-bar{
        padding-top: 24px;
    }
    
    .top-content{
        min-height: 376px;
        padding-bottom: 41px;
        box-sizing:border-box;
    }
    .index-banner-text{
        padding-top: 36px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: none;
    }
    .index-banner-heading {
        text-align: center;
        font-size: 32px;
        line-height: 37px;
        margin-bottom: 12px;
        width:100%
    }
    .index-banner-text-p{
        width: 100%;
        text-align: center;
    }
    .top-button{
        padding: 0 8px;
    }
}